.body {
    background: whitesmoke;
    margin: 0
}

.whole-page {
    display: flex;
    flex-direction: column;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #242424;
    padding: 10px;
}

.left-navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo-icon {
    color: whitesmoke;
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

#home-button {
    color: whitesmoke;
    background: #242424;
    border: none;
}

#login-button {
    color: grey;
    background: #242424;
    border: none;
}

.right-navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-box {
    background: whitesmoke;
    width: 200px;
    height: 35px;
    padding-left: 5px;
    border-radius: 5px;
}

#search-button {
    height: 30px;
    background: #242424;
    border-color: peru;
    color: peru;
    border-radius: 5px;
    margin-left: 10px;
}

.main-viewing-area {
    display: flex;
    flex-direction: column;
    align-self: center;
    /*background: rosybrown;*/
    width: 100%;
}

.login-form {
    align-self: center;
    display: flex;
    flex-direction: column;
    /*background: aqua;*/
    width: 40%;
    font-family: sans-serif;
    margin-top: 20%;
}

#login-Header-Text {
    align-self: center;
    font-size: x-large;
}

.label-and-input {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#email-label-text {
    font-size: x-small;
    padding-left: 5px;
}

#email-input {
    border-radius: 5px;
    height: 20px;
    padding-left: 5px;
    margin-top: 5px;
    border-width: thin;

}

#password-label-text {
    font-size: x-small;
    padding-left: 5px;
}

#password-input {
    border-radius: 5px;
    height: 20px;
    padding-left: 5px;
    margin-top: 5px;
    border-width: thin;
}

#form-login-button {
    margin-top: 20px;
    background: royalblue;
    padding: 6px;
    border-radius: 5px;
    color: whitesmoke;
    border: none;
}