.movie-result-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.movie-card{
    margin: 20px;

}

.movie-image{
    width: 250px;
    height: 350px;
    object-fit: fill;
    border-radius: 5px;
}